<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chiranths.jobportal1">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dataflair"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dataflair"
        android:supportsRtl="true"
        android:theme="@style/JobPortaltheam">
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/JobPortaltheam.NoActionBar" />
        <activity
            android:name=".Activities.Admin.AdminPropertyApproval"
            android:exported="false" />
        <activity
            android:name=".AdminBusinessCategorys"
            android:exported="false" />
        <activity
            android:name=".Admin_loanoffers"
            android:exported="false" />
        <activity
            android:name=".Activities.LoanActivity.LoanFormfirst"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Business.AdminBusinessCategorys"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.SeeAllLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.UpcommingProjects"
            android:exported="false" />
        <activity
            android:name=".Activities.Businesthings.BusinessDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.CenterHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Admin_ads"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Admin_hotdeals"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Business.AdminBusinessListings"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.loan.AdminloanOffers"
            android:exported="false" />
        <activity
            android:name=".Activities.Sell.SellActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.CoroselDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Businesthings.BusinessActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoanActivity.LoanForm"
            android:exported="false" />
        <activity
            android:name=".Activities.Propertys.PropertyDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoanActivity.LoanActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Servicess.ServicesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Propertys.PropertyActivity"
            android:exported="false" />
        <activity android:name=".Activities.jobs.JobDetailsActivity" />
        <activity android:name=".Activities.jobs.AdminActivity" />
        <activity android:name=".Activities.Admin.Admincoroselimages" />
        <activity android:name=".Activities.jobs.RoleActivity" />
        <activity android:name=".Activities.BasicActivitys.LoginActivity" />
        <activity android:name=".Activities.Propertys.AdminAddNewProductActivity" />
        <activity android:name=".Activities.jobs.MainActivity" />
        <activity android:name=".Activities.BasicActivitys.AdsDetailsActivity" />
        <activity android:name=".Activities.HotDealsactivity.HotDealsDetailsActivity" />
        <activity android:name=".Activities.Admin.Admin_corosel" />
        <activity android:name=".Activities.Admin.Admin_layouts" />
        <activity
            android:name=".Activities.Dashboard.StartingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>