<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="34" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="34" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo1"
        android:theme="@style/JobPortaltheam">
        <activity
            android:name=".Activities.Admin.CallsListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoanActivity.LoanVehicle"
            android:exported="false" />
        <activity
            android:name=".Activities.LoanActivity.LoanBusiness"
            android:exported="false" />
        <activity
            android:name=".Activities.Construction.ConstructionFilter"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.AdminTravelApproval"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Businesthings.BusinessFilter"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeRentels.RentHomeDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.LoanActivity.LoanActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoanActivity.LoanFormGeneral"
            android:exported="false" />
        <activity
            android:name=".Activities.Construction.ConstructionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Construction.ConstructionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.AdminLocations"
            android:exported="false" />
        <activity
            android:name=".Activities.Businesthings.BusinessDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.HomeRentels.LivingPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HotelsPG.HotelsDetails"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.AdminPropertyApproval"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.OtpLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoanActivity.LoanFormfirst"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.AdminBusinessCategorys"
            android:exported="false" />
        <activity
            android:name=".Activities.Dashboard.LayoutDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Admin_Construction"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Admin_travels"
            android:exported="false" />
        <activity
            android:name=".Activities.LoanActivity.LoanForm"
            android:exported="false" />
        <activity
            android:name=".Activities.Travels.Travelsactivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Admin_hotels"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.SeeAllLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.UpcommingProjects"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.AdminLivingPlacess"
            android:exported="false" />
        <activity
            android:name=".Activities.HotelsPG.CenterHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Admin_ads_dashboard"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Admin_hotdeals_dashboard"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.AdminBusinessListings"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.AdminloanOffers"
            android:exported="false" />
        <activity
            android:name=".Activities.Sell.SellActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Dashboard.CoroselDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Businesthings.BusinessActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Propertys.PropertyDetailsActivity"
            android:exported="false" />

        <service
            android:name=".Utilitys.NotificationListener"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name=".Utilitys.myFirebaseMessagingServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.Propertys.PropertyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.AdminNewPropurtyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Dashboard.AdsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HotDealsactivity.HotDealsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Admin_corosel_dashboard"
            android:exported="false" />
        <activity
            android:name=".Activities.Admin.Admin_layouts_dashboard"
            android:exported="false" />
        <activity
            android:name=".Activities.Dashboard.StartingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>