<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sbd.gbd">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo1"
        android:supportsRtl="true"
        android:theme="@style/JobPortaltheam">
        <activity
            android:name="com.sbd.gbd.Activities.LoanActivity.LoanVehicle"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.LoanActivity.LoanBusiness"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.AdminTravelApproval"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Construction.ConstructionListActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Businesthings.BusinessFilter"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.RentHomeDetails"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.LoanActivity.LoanActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.LoanActivity.LoanFormGeneral"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Construction.ConstructionActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Construction.ConstructionDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Businesthings.BusinessDetails"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.LivingPlaceActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.HotelsDetails"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.AdminPropertyApproval"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.OtpLoginActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.LoanActivity.LoanFormfirst"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.AdminBusinessCategorys"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.LayoutDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.Admin_Construction"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.Admin_travels"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.LoanActivity.LoanForm"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.Travelsactivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.Admin_hotels"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.UserDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.SeeAllLayoutActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.UpcommingProjects"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.AdminLivingPlacess"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.AdminConstructionCategorys"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.CenterHomeActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.Admin_ads_dashboard"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.Admin_hotdeals_dashboard"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.AdminBusinessListings"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.AdminloanOffers"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Sell.SellActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.CoroselDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Businesthings.BusinessActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Propertys.PropertyDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Servicess.ServicesActivity"
            android:exported="false" />

        <service
            android:name="com.sbd.gbd.myFirebaseMessagingServices"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.sbd.gbd.Activities.Propertys.PropertyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.jobs.JobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.jobs.AdminActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".Activities.jobs.RoleActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BasicActivitys.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Propertys.AdminAddNewProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.jobs.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.BasicActivitys.AdsDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.HotDealsactivity.HotDealsDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.Admin_corosel_dashboard"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Admin.Admin_layouts_dashboard"
            android:exported="false" />
        <activity
            android:name="com.sbd.gbd.Activities.Dashboard.StartingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>